* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}


h1{
    font-size: 36px;
    text-align: center;
    color: blue ;
}

.myClass {
    font-style: italic;
}

#myId {
    background-color: yellow;
}

[disabled] {
    background-color: lightgray;
}

li:hover {
    color: blue;
}

table {
    width: 100%;
    border-collapse: collapse;
}

p {
    color: yellow;
}